<tr>
  <td><%= question.body # не могу понять почему undefined local variable or method `question' for #<ActionView::Base:0x0000000000f0c8> %></td> 
  <td><%= link_to 'Show', question_path(question) %></td>
  <td><%= link_to 'Edit', edit_question_path(question) %></td>
  <td><%= link_to 'Delete', question_path(question),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
  </td>
</tr>