<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('.header') %></span>

  <div class="nav-admin user">
    <b class=nav-admin user-first-name><%= t('welcome', welcome: current_user.first_name) %></b>
  <%= link_to t('log_out'), destroy_user_session_path, method: :delete %>
  </div>
</div>
