<h5>Footer:</h5>

<footer>
  <p>current year: <%= current_year %></p>
  <p><%= github_url('AlexanderG-v', 'TestGuru') %></p>
  <p>This application is designed to create, manage and perform tests in any subject area!</p>
  <p><%= github_url('AlexanderG-v') %></p>
  <p><%= link_to 'Educational project in an online school Thinknetica', 'https://thinknetica.com/',target: '_blank' %></p>
</footer>