
<h1><%= link_to 'Test Guru', root_path %></h1>

<tr>
  <th colspan="3"></th>
  <td><%= link_to 'signup', signup_path %></td>
  <td><%= link_to 'login', login_path %></td>
  <td><%= link_to 'exit', logout_path, method: :delete %></td>
</tr>