<h1><%= t('.header', header: @answer.question.body) %></h1>

<p>
  <b><%= t('.answer', answer: @answer.body) %></b>
</p>

<p>
  <b><%= t('.correct', correct: @answer.correct) %></b>
</p>

<%= link_to t('link_to_back'), admin_question_path(@answer.question) %>
