.nav.user {
  text-align: right;
}

.nav.nav-admin {
  height: 35px;
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
}

.nav-admin.title {
  font-size: 20px;
  font-weight: bold;
}

.nav-admin.user {
  float: right;
}

.nav-admin.user-first-name {
  text-decoration: underline;
}

nav.naw-admin
a {
  color: #ffffff;
}
