<h1><%= t('.header', header: @tests_user.test.title) %></h1>

<% if @tests_user.rate? %>
  <p><b style="color: #008000"> <%= t('.success', count: @tests_user.success_rate) %>%</b></p> 
<% else %>
  <p><b style="color: #FF0000"> <%= t('.failed', count: @tests_user.success_rate) %>%</b></p> 
<% end %>

<%= link_to t('link_to_back'), tests_path %>
